.enlarged .left-side-menu #sidebar-menu ul>li:hover .collapse.in {
    display: block !important;
}
.left-side-menu{
    width: 200px;
    position: fixed !important;
}
.content-page{
    margin-left: 200px;
}
.logo-box{
    width: 200px;
}
.select2-container--default .select2-selection--single{
    display: block;
    width: 100%;
    height: calc(1.5em + .9rem + 2px);
    padding: .45rem .9rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: unset;
    padding-left: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 34px;
}
.select2-container{
    width: 100% !important;
}
.table{
    color: #152934;
    font-weight: 100;
}
.table td, .table th {
    padding: 10px 10px;
}
a.dropdown-toggle:hover{
    color: white;
}
.modal-fullwidth {
    width: 100%;
    max-width: 100%;
    margin: 0;
    height: 100%;
}
.modal-fullwidth .modal-body{
    height: 100vh;
}
i.fas{
    font-size: 16px;
}
